div.panels-ipe-handlebar-wrapper { border-bottom: 1px solid #AAA;}

div.panels-ipe-handlebar-wrapper ul {
  border-left: 1px solid #AAA;
  float: left;
  margin: 0;
  padding: 0;
  text-align: right;
}

div.panels-ipe-handlebar-wrapper li {
  background: none repeat scroll 0 0 transparent;
  border-right: 1px solid #AAA;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  float: left;
}

div.panels-ipe-handlebar-wrapper li a {
  background-color: #f6f6f6;
  display: block;
  padding: 0.2em 0.5em;
}
