div.panels-ipe-handlebar-wrapper {
  border-bottom: 1px solid #AAA;
  border-right: 1px solid #AAA;
  margin-top: 1em;
}

div.panels-ipe-handlebar-wrapper ul {
  border-left: 1px solid #AAA;
  float: left;
  margin: 0;
  padding: 0;
  text-align: right;
}

div.panels-ipe-handlebar-wrapper li,
div.panels-ipe-draghandle {
  background: none repeat scroll 0 0 transparent;
  border-right: 1px solid #AAA;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  float: left;
}

div.panels-ipe-draghandle {
  float: right;
  border-right: none;
  border-left: 1px solid #AAA;
}

div.panels-ipe-newblock {
  display: block;
}

div.panels-ipe-newblock div {
  text-align: center;
  border: 1px solid #AAA;
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
}

/* Hide the handlebar initially */
div.panels-ipe-handlebar-wrapper,
div.panels-ipe-newblock {
  display: none;
}

div.panels-ipe-handlebar-wrapper li a,
div.panels-ipe-draghandle span,
div.panels-ipe-newblock div a {
  background-color: #f6f6f6;
  display: block;
  padding: 0.2em 0.5em;
}

.ui-sortable-placeholder { margin: 1em; border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

/** ============================================================================
 * Controller form markup
 */

div#panels-ipe-control-container {
  z-index: 100;
  position: fixed;
  margin: auto;
  bottom: 0;
  left: 50%;
  display: block;
  background-color: #000;
  padding: 0.5em 1em;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-box-shadow: #333 0px 1px 0px;
  -webkit-border-radius-topleft:5px;
  -webkit-border-radius-topright:5px;
  -webkit-box-shadow: #333 0px 1px 0px;
}

div.panels-ipe-pseudobutton {
  cursor: pointer;
  background-color: #333;
  font:normal 11px/15px "Lucida Grande",Tahoma,Verdana,sans-serif;
  color: #FFF;
  -moz-border-radius:5px;
  -moz-box-shadow: #333 0px 1px 0px;
  -webkit-border-radius:5px;
  -webkit-box-shadow: #333 0px 1px 0px;
  padding: 0.3em 0.8em;
  float: left;
}

div.panels-ipe-control .form-submit {
  margin: 0.3em 0.5em;
}

div#panels-ipe-control-container span.panels-ipe-pseudobutton {
}
