div.panels-ipe-handlebar-wrapper {
  margin-top: 1em;
  border-bottom: #999 solid 1px;
}

div.panels-ipe-handlebar-wrapper ul {
  float: left;
  margin: 0;
  padding: 0;
  text-align: right;
}

div.panels-ipe-handlebar-wrapper li,
div.panels-ipe-draghandle {
  background: none repeat scroll 0 0 transparent;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  float: left;
}

div.panels-ipe-handlebar-wrapper li {
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

div.panels-ipe-handlebar-wrapper li.first {
  border-left: 1px solid #CCC;
}

div.panels-ipe-draghandle {
  float: right;
  border-right: none;
  border-left: 1px solid #AAA;
}

/* Hide editor-state-on elements initially */
.panels-ipe-on {
  display: none;
}

.panels-ipe-editing .panels-ipe-on {
	display: block;
}

/* Show editor-state-off elements initially */
.panels-ipe-off {
  display: block;
}

div.panels-ipe-handlebar-wrapper li a,
div.panels-ipe-draghandle span,
div.panels-ipe-newblock a {
  background-color: #f6f6f6;
  display: block;
  padding: 0.2em 0.5em;
}

div.panels-ipe-newblock a {
  display: inline;
  border: 1px solid #CCC;
}

.panels-ipe-editing .panels-ipe-portlet-content {
  margin-bottom: 10px;
  border: transparent dotted 1px;
  overflow: hidden;
}

.panels-ipe-editing .panels-ipe-portlet-content:hover {
  border: #FF000A dotted 1px;
}

.panels-ipe-editing .panels-ipe-region {
  border: transparent dotted 1px;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

div.panels-ipe-draghandle {
  border: none;
}

div.panels-ipe-draghandle span {
  border: none;
  background: #989896 url(images/dragger.png);
  text-indent: -9999px;
  width: 26px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.25em;
}

.ui-sortable-placeholder { margin: 1em; border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

/* counteract panels_dnd.css - temporary */
div.panels-ipe-display-container .panel-pane .pane-title {
  padding: 0;
}

/** ============================================================================
 * Controller form markup
 */

div#panels-ipe-control-container {
  z-index: 100;
  position: fixed;
  margin: auto;
  bottom: 0;
  left: 50%;
  display: block;
  background-color: #000;
  padding: 0.5em 1em;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-box-shadow: #333 0px 1px 0px;
  -webkit-border-radius-topleft:5px;
  -webkit-border-radius-topright:5px;
  -webkit-box-shadow: #333 0px 1px 0px;
}

div.panels-ipe-pseudobutton {
  cursor: pointer;
  background-color: #333;
  font:normal 11px/15px "Lucida Grande",Tahoma,Verdana,sans-serif;
  color: #FFF;
  -moz-border-radius:5px;
  -moz-box-shadow: #333 0px 1px 0px;
  -webkit-border-radius:5px;
  -webkit-box-shadow: #333 0px 1px 0px;
  padding: 0.3em 0.8em;
  float: left;
}

div.panels-ipe-control .form-submit {
  float: left;
  margin: 0.3em 0.5em;
}
