.panel-3col { 
  /* border: 1px solid red; */ 
  overflow: hidden; 
}
.panel-3col div div { 
  margin: .5em;
}
.panel-3col .panel-col-first { 
  float: left; 
  width: 25%; 
}
.panel-3col .panel-col { 
  float: left; 
  width: 50%; 
}
.panel-3col .panel-col-last { 
  float: left; 
  width: 25%; 
}
.panel-clearer {
  clear: both;
}
