/* $Id$ */

.panel-2col-stacked { 
  /* border: 1px solid red; */ 
  overflow: hidden; 
}
.panel-2col-stacked .panel-col-top,
.panel-2col-stacked .panel-col-bottom { 
  width: 100%; 
  clear: both;
}
.panel-2col-stacked .panel-col-first { 
  float: left; 
  width: 50%; 
}
.panel-2col-stacked .panel-col-last { 
  float: left; 
  width: 50%; 
}
